* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #ffffff;
  color: #222;
}

/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 18px 30px;
  background: white;
  border-bottom: 1px solid #eee;
  z-index: 1000;
}

.logo {
  font-weight: 600;
  color: #5E3BEE;
}

#musicBtn {
  border: none;
  background: #5E3BEE;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  text-align: center;
  background: linear-gradient(180deg,#f3f0ff,#ffffff);
}

.hero h1 {
  font-size: 38px;
  color: #5E3BEE;
}

.hero p {
  max-width: 500px;
  margin: 15px auto;
  color: #555;
}

.scroll-btn {
  margin-top: 20px;
  text-decoration: none;
  color: #5E3BEE;
  font-weight: 600;
}

/* ALBUM */
.album {
  padding: 80px 25px;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
  gap: 15px;
  margin-top: 25px;
}

.gallery img {
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.04);
}

/* LETTER */
.letter {
  padding: 60px 25px;
  max-width: 700px;
  margin: auto;
  text-align: center;
  line-height: 1.7;
}

/* PROPOSAL */
.proposal {
  padding: 80px 20px;
  text-align: center;
}

.buttons button {
  padding: 15px 30px;
  margin: 10px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.buttons button:first-child {
  background: #5E3BEE;
  color: white;
}

#noBtn {
  background: #eee;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

.modal img {
  max-width: 90%;
  max-height: 80%;
  border-radius: 15px;
}

#close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}
